# Ignore the nohup.out
nohup.out

# Ignore the editor settings
.idea
.vscode

# Ignore the DS_Store for macOs
.DS_Store

# Customize .env
.env

# Ignore the Web directory, but retain the Demo subdirectory
web
!web/welcome

# Ignore the Data directory, but retain the README.md
data
!data/README.md

# Ignore the Log directory, but retain the README.md
log
!log/README.md

# Ignore install-docker.sh
install-docker.sh
