# workfolow 名称
name: php74 build image and push
# 触发条件 
on:
  # github 页面手动触发
  workflow_dispatch:
  # 打 tag 触发，必须是 v 开头
  push:
    tags:
      - "v*.*"

# 变量配置
env:
  # 镜像名称
  IMAGE_NAME: php74
  # dockerhub 仓库名称
  DOCKER_REGISTRY: eleven9809

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    outputs:
      tags: ${{ steps.output-id.outputs.v  }}

    steps:
      # 拉取代码，同时获取 tag，如果获取不到则默认值为 edge，并复制给 v 变量
      - name: Checkout tags
        uses: actions/checkout@v3
      - id: output-id
        run: |
          VERSION=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          echo "v=${VERSION}" >> $GITHUB_OUTPUT

      # docker 配置多平台环境
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # 登录镜像仓库
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # 打包并推送
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: app/php/74  # 设置构建上下文为Dockerfile所在目录
          file: app/php/74/Dockerfile  # 指定Dockerfile路径
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.output-id.outputs.v }}
